.form-control {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.25rem;
}

.label-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
}

.input-bordered {
  border-color: #cccccc50 !important;
}

.input {
  flex-shrink: 1;
  -webkit-appearance: none;
  appearance: none;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 2;
  line-height: 1.5rem;
  border-radius: var(--rounded-btn, 0.5rem);
  border-width: 1px;
  border-color: transparent;
  --tw-bg-opacity: 1;
  background: rgba(255, 255, 255, 0.85);
  /* background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity))); */
  width: -webkit-fill-available;
}

.label-text-alt {
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
}
