<div class="example-section-container bg-{{this.color}}-100 ">
  <div *if="this.isOpen">
    <h1>It's open!!</h1>
  </div>
  <button (click)="this.onToggle()" class="btn">toggle</button>
  <div class="example">Example {{this.counter}}</div>
  <div class="example">
    <button class="btn" (click)="increment">+</button>
    <button class="btn" (click)="decrement">-</button>

  </div>

  <div class="form-control">
    <label for="text">Text {{this.text}}</label>
    <input class="input" type="text" [model]="this.text" name="text" />
  </div>

  <div class="form-control">
    <label for="text">Options [0] {{this.options[0]}}</label>
    <input class="input" type="text" [model]="this.options[0]" name="text" />
  </div>
  <div class="form-control">
    <label for="color"
      ><b>Options [{{this.options.length}}]:</b> Color {{this.color}}
    </label>
    <select class="input" [model]="this.color" name="color">
      <option value="{{option}}" *for="option of this.options">
        {{option}}
      </option>
    </select>
  </div>
  <div class="form-control">
    <div class="nested-div-level-1"></div>
    <label for="color">
      <p><b>Deep Options {{this.deepOptions.length}} :</b> {{this.color}}</p>
      <div class="nested-div-level-2"></div>
    </label>
    <select class="input" [model]="this.color" name="color">
      <option value="{{option.title}}" *for="option of this.deepOptions">
        {{option.title}} - Deep option title
      </option>
    </select>
    <label for="color">
      <p>
        <b>Deep Options[0] Options [{{this.deepOptions[0].options.length}}]:</b
        >{{this.color}}
      </p>
      <div class="nested-div-level-2"></div
    ></label>

    <select class="input" [model]="this.deepTest" name="color">
      <option value="{{option}}" *for="option of this.deepOptions[0].options">
        {{option}}
      </option>
    </select>
  </div>
  <div class="form-control">
    <label for="check">Check {{this.isOpen}} </label>
    <input
      type="checkbox"
      [model]="this.isOpen"
      name="check"
      class="checkbox"
      checked="{{this.isOpen}}"
    />
    <input type="checkbox" [model]="this.isOpen" name="check" />
  </div>
  <div class="form-control">
    <label for="check">Check {{this.isSwitchOn}} </label>
    <input
      type="checkbox"
      [model]="this.isSwitchOn"
      name="check"
      class="toggle"
    />
  </div>
</div>
