<div>
  <div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
      <a id="btn-collapse" class="sidebar-collapser"
        ><i class="ri-arrow-left-s-line"></i
      ></a>
      <div class="image-wrapper">
        <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
      </div>
      <div class="sidebar-layout">
        <div class="sidebar-header">
          <div class="pro-sidebar-logo">
            <div>P</div>
            <h5>{{headlines.title}}</h5>
          </div>
        </div>
        <div class="sidebar-content">
          <nav class="menu open-current-submenu">
            <ul>
              @for(separator of menu;index = $separator){
              <div>
                <li class="menu-header"><span> {{separator.title}} </span></li>
                @for(link of separator.links;index = $link){
                <li class="menu-item sub-menu {{link.open ? 'open': ''}}" @onClick="toggleSeparator($separator, $link)">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="{{link.icon}}"></i>
                    </span>
                    <span class="menu-title">{{link.title}}</span>
                    <span class="menu-suffix">
                      <!-- <span class="badge primary">Hot</span> -->
                    </span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      @for(submenu of link.submenus){
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">{{submenu.title}}</span>
                        </a>
                      </li>
                      }
                    </ul>
                  </div>
                </li>
                }
              </div>
              }

            </ul>
          </nav>
        </div>
        <div class="sidebar-footer">
        
        </div>
      </div>
    </aside>
    <div id="overlay" class="overlay"></div>
    <div class="layout">
      <main class="content">
        <div>
          <a id="btn-toggle" href="#" class="sidebar-toggler break-point-sm">
            <i class="ri-menu-line ri-xl"></i>
          </a>
          <h1 style="margin-bottom: 0">{{headlines.title}}</h1>
          <span style="display: inline-block">
            {{headlines.description}}
          </span>
          <br />
          <span>
            <slot></slot>
            Full Code and documentation available on 
            <a
              href="{{links.github.href}}"
              target="_blank"
              >Github</a
            >
          </span>
          <div style="margin-top: 10px">
            <a
            href="{{links.github.href}}"
              target="_blank"
            >
              <img
                alt="GitHub stars"
                src="https://img.shields.io/github/stars/azouaoui-med/pro-sidebar-template?style=social"
              />
            </a>
            <a
            href="{{links.github.href}}"
              target="_blank"
            >
              <img
                alt="GitHub forks"
                src="https://img.shields.io/github/forks/azouaoui-med/pro-sidebar-template?style=social"
              />
            </a>
          </div>
        </div>
        <div>
          <h2>Features</h2>
          <ul>
            <li>Fully responsive</li>
            <li>Collapsable sidebar</li>
            <li>Multi level menu</li>
            <li>RTL support</li>
            <li>Customizable</li>
          </ul>
        </div>
        <div>
          <h2>Resources</h2>
          <ul>
            <!--
            <li>
              <a
                target="_blank"
                href="https://github.com/azouaoui-med/css-pro-layout"
              >
                Css Pro Layout</a
              >
            </li>
            <li>
              <a target="_blank" href="https://github.com/popperjs/popper-core">
                Popper Core</a
              >
            </li>
            <li>
              <a target="_blank" href="https://remixicon.com/"> Remix Icons</a>
            </li>
          -->
          </ul>
        </div>
        <footer class="footer">
          <small style="margin-bottom: 20px; display: inline-block">
            {{year}}
            <span style="color: red; font-size: 18px">&#10084;</span> by -
            <a target="_blank" href="{{links.github.href}}">
              Filipe Sá - Pihh
            </a>
          </small>
          <br />
          <div class="social-links">
            @for(link of linkList){

              <a href="{{link.href}}" target="_blank">
                <i class="{{link.icon}} ri-xl"></i>
              </a>
           
            </a>
          }
          </div>
        </footer>
      </main>
      <div class="overlay"></div>
    </div>
  </div>
</div>
