
<section 
  class="bg-{{color =='white' ? color: color+'-100'}} border border-{{color == 'white' ? 'gray' : color}}-400" 
>
  <h1>{{title}} name . {{colors[0].name}}</h1>
  <p>{{description}}</p>
  <small>{{caption}} {{counter}}</small>

  <br>
  <input class="input" @model="caption" />
  <button @onClick="onClick($event)" class="btn bg-white border border-{{color == 'white' ? 'gray' : color}}-400 text-{{color == 'white' ? 'black' : color}}-900" >Click</button>
</section>

<section 
  class="bg-{{color =='white' ? color: color+'-100'}} border border-{{color == 'white' ? 'gray' : color}}-400" 
>
  <h1>Background</h1>
  <p>Feel free to change the background color of the sections</p>
  <small>Current color: 
    <b>
      {{color}} - {{caption}}
    </b>
  </small>
  <br>
  <select class="input" @model="color" >
    <option value="{{option.id}}" *for="let option of colors">
      {{option.name}}
    </option>
  </select> 
</section>

<section 
  class="bg-{{color =='white' ? color: color+'-100'}} border border-{{color == 'white' ? 'gray' : color}}-400" 
>
  <h1>Conditional rendering</h1>
  <p>Based on a true/false condition it renders the following code block.</p>
  <small>
    Also, if you input the word "render", another block will show
  </small>

  <p>
    <label class="visible">
      Visible: {{visible}}
      <input type="checkbox" class="checkbox" @model="visible" />
    </label>
  </p>
 
  <div class="subsection bg-white border border-{{color == 'white' ? 'gray' : color}}-400 " *if="visible">
    It shows
  </div>
  <p>
    <label class="visible">
      Is the input displaying "render"?: {{caption == "render" }} {{caption.indexOf("render") > -1 }} {{caption.trim() == "render" }}
      
    </label>
  </p>
  <div class="subsection bg-white border border-{{color == 'white' ? 'gray' : color}}-400 " *if="caption == 'render'">
    It Renders
  </div>
</section>
<section 
  class="bg-{{color =='white' ? color: color+'-100'}} border border-{{color == 'white' ? 'gray' : color}}-400" 
>
  <h1>Data propagation</h1>
  <p>Data and action propagation is written with "@" synthax</p>
  <small>
    For example: if you have the following code: &lt;el-parent title=&quot;el-title&quot;&gt;\n &lt;el-child @childTitle=&quot;title&quot; /&gt;\n&lt;/el-parent&gt;
    The child component will have childTitle data synchronized with the parent title data
  </small>
  <small>
    <b>
      Propagated data: {{propagation}}
    </b>

  </small>
  <br>
  <el-child [childPropagation]="this.propagation" [propagation]="this.propagation"></el-child> 
</section>