<div class="example-section-container bg-{{this.color}}-100 ">
  <h1>Slots:</h1>
  <h3>
    <slot name="el-primary">Default Slot</slot>
  </h3>
  <div>
    <slot name="el-secondary">Secondary slot slot</slot>
  </div>
</div>

<div class="example-section-container bg-{{this.color}}-100 ">
  <h1>Data binding:</h1>
  <p>{{this.dataBinding}}</p>
  <input [model]="this.dataBinding" class="input" />

  <p>Background color: {{this.color}}</p>
  <select [model]="this.color" class="input" >
    <option [value]="color" *for="color of this.colors">{{color}}</option>
  </select>

  <slot name="el-input">
    Input slot
  </slot>
</div>

<div class="example-section-container bg-{{this.color}}-100 ">
  <h1>Actions:</h1>
  <p>Counter: <b>{{this.counter}}</b><p>
  <div>
    <button class="btn" (click)="this.increment">+</button>
    <button class="btn" (click)="this.decrement">-</button>
  </div>
</div>

<div class="example-section-container bg-{{this.color}}-100 ">
  <h1>Loops:</h1>
  <div>
    <button class="btn" (click)="this.addPost">Add post</button>

  </div>
  <article *for="post of this.posts" class="bg-white example-section-container">
    <h4>#{{post.id}} {{post.title}}</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores modi quia incidunt dignissimos cupiditate iure repellat aliquam iusto, magni eius asperiores praesentium in recusandae sint esse ad tenetur at perspiciatis.</p>
    <div class="gallery">

      <img src="https://placehold.co/150x100/png" *for="images of post.images" class="image"/>
    </div>
  </article>
</div>

<div class="example-section-container bg-{{this.color}}-100 ">
  <h1>Conditional Rendering:</h1>
  <p><b>Is if condition met?:</b> {{this.condition ? 'YUP' : 'NOPE' }}</p>

  <p>
    <input
      type="checkbox"
      [model]="this.condition"
      name="check"
      class="toggle"
      checked="{{this.condition}}"
    />
  </p>

  <br />
  <div
    *if="this.condition"
    class="border-gray-100 bg-white conditional-container"
  >
    IT SHOWS
  </div>
</div>
