<template id="the-section-center">
  <section class="text-center px-8 mt-20 sm:mt-32 md:mt-40">
    <the-h2>
      <slot name="title">title</slot>
    </the-h2>
    <the-blockquote></the-blockquote>
  </section>
</template>
<template id="the-section-right">
  <h2
    class="text-slate-900 text-4xl tracking-tight font-extrabold sm:text-5xl dark:text-white"
  >
    <slot> “Best practices” don’t actually work. </slot>
  </h2>
</template>
<template id="the-section-left">
  <section id="ready-made-components">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <div
        class="w-16 h-16 p-[0.1875rem] rounded-full ring-1 ring-slate-900/10 shadow overflow-hidden dark:bg-indigo-500 dark:highlight-white/20"
      >
        <div
          class="aspect-w-1 aspect-h-1 bg-[length:100%] dark:hidden"
          style="
            background-image: url(/_next/static/media/ready-made-components.b51db291.png);
          "
        ></div>
        <div
          class="hidden aspect-w-1 aspect-h-1 bg-[length:100%] dark:block"
          style="
            background-image: url(/_next/static/media/ready-made-components.413bcbea.png);
          "
        ></div>
      </div>
      <h2 class="mt-8 font-semibold text-indigo-500">Ready-made components</h2>
      <p
        class="mt-4 text-3xl sm:text-4xl text-slate-900 font-extrabold tracking-tight dark:text-slate-50"
      >
        Move even faster with Tailwind&nbsp;UI.
      </p>
      <p class="mt-4 max-w-3xl space-y-6">
        Tailwind UI is a collection of beautiful, fully responsive UI
        components, designed and developed by us, the creators of Tailwind CSS.
        It's got hundreds of ready-to-use examples to choose from, and is
        guaranteed to help you find the perfect starting point for what you want
        to build.
      </p>
      <a
        class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-indigo-50 text-indigo-600 hover:bg-indigo-200 hover:text-indigo-700 focus:ring-indigo-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500 mt-8"
        href="https://tailwindui.com/?ref=landing"
        >Learn more<svg
          class="overflow-visible ml-3 text-indigo-300 group-hover:text-indigo-400 dark:text-slate-500 dark:group-hover:text-slate-400"
          width="3"
          height="6"
          viewBox="0 0 3 6"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M0 0L3 3L0 6"></path></svg
      ></a>
    </div>
    <div class="relative pt-10 xl:pt-0 mt-10">
      <div
        class="hidden dark:block absolute top-0 inset-x-0 h-[37.5rem] bg-gradient-to-b from-[#0c1120] top-0 xl:top-18"
      ></div>
      <div
        class="absolute top-0 inset-x-0 bg-top bg-no-repeat GridLockup_beams-0___8Vns top-0 xl:top-18"
      ></div>
      <div
        class="absolute top-0 inset-x-0 h-[37.5rem] bg-grid-slate-900/[0.04] bg-top [mask-image:linear-gradient(0deg,transparent,black)] dark:bg-grid-slate-100/[0.03] dark:bg-[center_top_-1px] dark:border-t dark:border-slate-100/5 top-0 xl:top-18"
      ></div>
      <div
        style="
          mask-image: linear-gradient(to bottom, white, white, transparent);
          -webkit-mask-image: linear-gradient(
            to bottom,
            white,
            white,
            transparent
          );
        "
        class="max-w-7xl mx-auto sm:px-6 md:px-8"
      >
        <div class="flex justify-center">
          <div class="w-[216%] ml-[28%] flex-none sm:w-[76rem] sm:ml-0">
            <div class="relative" style="padding-top: 55.647155812036274%">
              <img
                alt=""
                loading="lazy"
                decoding="async"
                src="/_next/static/media/0.19807ee3.png"
                class="absolute shadow-xl rounded-lg"
                style="
                  top: 3.55556%;
                  left: 2.22589%;
                  width: 19.4559%;
                  opacity: 1;
                  transform: none;
                "
              /><img
                alt=""
                loading="lazy"
                decoding="async"
                src="/_next/static/media/1.da37cea3.png"
                class="absolute shadow-xl rounded-lg"
                style="
                  top: 0%;
                  left: 23.6603%;
                  width: 46.7436%;
                  opacity: 1;
                  transform: none;
                "
              /><img
                alt=""
                loading="lazy"
                decoding="async"
                src="/_next/static/media/2.841db3aa.png"
                class="absolute shadow-xl rounded-lg"
                style="
                  top: 6.96296%;
                  left: 72.3825%;
                  width: 25.3916%;
                  opacity: 1;
                  transform: none;
                "
              /><img
                alt=""
                loading="lazy"
                decoding="async"
                src="/_next/static/media/3.ddf84127.jpg"
                class="absolute shadow-xl rounded-lg"
                style="
                  top: 42.8148%;
                  left: 0%;
                  width: 38.9118%;
                  opacity: 1;
                  transform: none;
                "
              /><img
                alt=""
                loading="lazy"
                decoding="async"
                src="/_next/static/media/4.cca6e02f.jpg"
                class="absolute shadow-xl rounded-lg"
                style="
                  top: 42.8148%;
                  left: 40.8904%;
                  width: 36.3561%;
                  opacity: 1;
                  transform: none;
                "
              /><img
                alt=""
                loading="lazy"
                decoding="async"
                src="/_next/static/media/5.c3083e09.png"
                class="absolute shadow-xl rounded-lg"
                style="
                  top: 42.8148%;
                  left: 79.2251%;
                  width: 20.7749%;
                  opacity: 1;
                  transform: none;
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<!-- <template id="the-p">

  <p class="mt-4 max-w-3xl space-y-6">
    <slot>
      Tailwind UI is a collection of beautiful, fully responsive UI components,
      designed and developed by us, the creators of Tailwind CSS. It's got
      hundreds of ready-to-use examples to choose from, and is guaranteed to
      help you find the perfect starting point for what you want to build.
    </slot>
  </p>
</template> -->
