<div>
  <div
    class="card preview border-base-300 bg-base-100 rounded-b-box rounded-se-box flex min-h-[6rem] min-w-[18rem] max-w-4xl flex-wrap items-center justify-center gap-2 overflow-x-hidden bg-cover bg-top p-4 [border-width:var(--tab-border)] undefined"
    style="
      background-image: url(https://daisyui.com/images/stock/photo-1481026469463-66327c86e544.jpg);
      background-size: cover;
      border-radius: 1em;
    "
  >
    <div class="card w-96 glass">
 
      <el-card-expanded *expanded="{{card.expanded}}"></el-card-expanded>
      <div class="card-body">
        <h2 class="card-title">{{card.title}}</h2>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores
          magnam quisquam iusto, autem eveniet, veniam vitae maiores optio
          facilis velit, omnis hic ea ipsam voluptates sequi nostrum tempore
          perspiciatis est!
        </p>
        <div>
          @for(l of card.list; let index = $cardListIndex){
          <li>
            {{l}} {{$cardListIndex}} {{num}}
            <input model="l" class="input" />
          </li>
          }
        </div>

        <div class="justify-end card-actions">
          <el-btn *color="{{color}}">Push {{color}}</el-btn>
      
          <button class="btn btn-primary" @onClick="onPop()">Pop</button>
        </div>

        <div>
          @for(item of items){
          <li>
            {{item.name}}
            <input model="item.name" class="input" />
            <el-input *value="item.name" ></el-input>
          </li>
          }
        </div>
        <div class="justify-end card-actions">
          <button class="btn btn-primary" @onClick="onPushItem()">Push</button>
          <button class="btn btn-primary" @onClick="onPopItem()">Pop</button>
        </div>
      </div>
    </div>
  </div>
</div>
